{{#acceptance/tests/descendant-namespacing/green-text}}
  <span data-test-green>text</span>
{{/acceptance/tests/descendant-namespacing/green-text}}

<span class="colored">
  <span data-test-black>text</span>
</span>

{{#acceptance/tests/descendant-namespacing/orange-text}}
  <span data-test-orange>text</span>
{{/acceptance/tests/descendant-namespacing/orange-text}}
