<span class="base">
  <span class="nested">
    <span>
    </span>
  </span>
</span>
<span class="{{componentCssClassName}}-element"></span>
<span class="{{componentCssClassName}}-element_variant"></span>
