<span class="base">
  <span class="nested">
    <span>
    </span>
  </span>
</span>
<span class="{{style-namespace}}__element"></span>
<span class="{{style-namespace}}__element--variant" tabindex="0">element variant</span>
