<span class="base">
  <span class="nested">
    <span>
    </span>
  </span>
</span>
<span class="{{this.styleNamespace}}__element"></span>
<span class="{{this.styleNamespace}}__element--variant"></span>
