<span class="base">
  <span class="nested">
    <span>
      memeemeemm
    </span>
  </span>
</span>
<span class="{{styleNamespace}}__element"></span>
<span class="{{styleNamespace}}__element--variant"></span>
